.list-group {
    display: flex;
}

.list-group>.list-group-item {
    padding: 1rem;
    margin: .5rem;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.list-group>.list-group-item>button {
    float: right;
}

.list-group>.list-group-item>p {
    margin-top: 40px;
}